html, body {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* Hero section */
/* Scroll bar animation */
@keyframes move-arrow {
    0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
}

.scroll-arrow {
    font-size: 48px;
    color: #FFFFFF;
    padding-right: 2px;
    padding-top: 20px;
    animation-name: move-arrow;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

/* Content sections */
.grey-section {
    background-color: #dadcdb;
    padding-bottom: 40px;
    padding-top: 40px;
    color: #000000;
    position: relative;
}

.grey-section .row {
    padding: 0% 10% 0% 10%;
}

.purple-section {
    background-color: #989fce;
    padding-bottom: 40px;
    padding-top: 40px;
    color: black;
    position: relative;
}

.purple-section .row {
    padding: 0% 10% 0% 10%;
}

.footer-section {
    background-color: #454545;
    padding-bottom: 200px;
    padding-top: 40px;
    color: white;
    position: relative;
}

.footer-section .row {
    padding: 0% 10% 0% 10%;
}

h1, h2, h3 {
    font-weight: bold;
}

.section-title {
    font-size: 40px;
}

.hr-grey {
    border-color: black;
    width: 50%;
}

.hr-white {
    border-color: white;
    width: 50%;
}

.hr-small {
    border-color: black;
    width: 20%;
}

/* Links */
.footer_link, .footer_link:focus, .footer_link:hover {
    color: white;
    text-decoration: none;
}

.main_link, .main_link:focus, .main_link:hover {
    color: black;
    text-decoration: none;
}

/* Navbar - built in Bootstrap - colours customised*/
.navbar {
    margin-bottom: 0;
    font-size: 1.2em;
    border: 5px solid #000000;
    background-color: #000000;
}

.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .active a:hover  {
    color: white;
    margin-bottom: 0;
    font-weight: bold;
    background-color: #989fce;
}

/* Inactive navbar links */
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:hover  {
    color: white;
    margin-bottom: 0;
    font-weight: bold;
}

/* Profile section */
#file-icon {
    color: #989fce;
    font-size: 25px;
}

.github-icon {
    font-size: 300px;
}

/* SKILLS SECTION */
/* Skills tables */
td {
    width: 50%;
}

/* Star icons for skills section */
.skills {
    color: #989fce;
}

/* Contact section */
.contact-icon {
    color: #dadcdb;
    font-size: 30px;
}

/* SLIDESHOW FOR AXIOM CFP IMAGES */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
  }
  
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fadein {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Different hero images for different screen sizes */
@media (min-width: 320px) {
    .jumbotron {
        height: 100%;
        width: 100%;
        position: relative;
        display: table;
        background-image: url("Assets/hero_mobile.png");
        background-size: cover;
        padding: 0;
        margin: 0;
    }

    .scroll-bar {
    background-color: black;
    position: absolute;
    bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (min-width: 600px) {
    .jumbotron {
        height: 100%;
        width: 100%;
        position: relative;
        display: table;
        background-image: url("Assets/hero.png");
        background-size: cover;
        padding: 0;
        margin: 0;
    }

    .scroll-bar {
        background-color: black;
        position: absolute;
        bottom: 0;
        padding-top: 0px;
        padding-bottom: 0px;
    }

/* Image breakpoints for different screen sizes */
@media (min-width: 320px) {
    .profile-img {
        border-radius: 50%;
        border: 3px solid black;
        margin-top: 0px;
        margin-bottom: 50px;
        max-width: 50%;
        height: auto;
        vertical-align: middle;
    }

    .uwa-logo {
        margin-top: 0px;
        max-width: 40%;
        height: auto;
    }

    .axiom-logo {
        margin-top: 30px;
        margin-right: 30px;
        max-width: 40%;
        height: auto;
    }

    .epiq-logo {
        margin-top: 30px;
        margin-right: 45px;
        max-width: 35%;
        height: auto;
    }

    .cube-logo {
        margin-top: 30px;
        margin-right: 25px;
        max-width: 40%;
        height: auto;
    }

    .cello-logo {
        margin-top: 30px;
        margin-left: 40px;
        max-width: 60%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .profile-img {
        margin-top: 75px;
        margin-bottom: 0px;
    }

    .uwa-logo {
        margin-top: 30px;
        max-width: 40%;
    }

    .axiom-logo {
        margin-top: 30px;
        margin-right: 30px;
        max-width: 40%;
    }

    .epiq-logo {
        margin-top: 30px;
        margin-right: 45px;
        max-width: 35%;
        height: auto;
    }

    .cube-logo {
        margin-top: 30px;
        margin-right: 25px;
        max-width: 40%;
        height: auto;
    }

    .cello-logo {
        margin-top: 30px;
        margin-left: 40px;
        max-width: 60%;
        height: auto;
    }
}
